@import "./variables";

.wrapper__days {
  overflow: hidden;
}
.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
  transition: transform 0.3s linear, opacity 0.5s;
}
.tab {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(#{--components-background-default});
  color: $base-color;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 7px;
}
.tab {
  &:hover {
    background: $primary-color;
    color: #fff;
  }
  .arrow {
    color: var(#{--text-color-default});
    margin: 0 10px;
  }
}