@import "./variables";

.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  transition: visibility 0.2s;
}
.popup__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 750px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: var(#{--components-background-default});
  transition: transform linear 0.3s
}
.popup__close {
  align-self: flex-start;
  cursor: pointer;
  svg {
    transition: transform 0.5s;
  }
  &:hover {
    svg {
      transform: rotate(360deg);
    }
  }
}
.selected_day {
  .selected_day__temp {
    font-weight: 500;
    font-size: 60px;
    color: $primary-color;
    margin-bottom: 12px;
  }
  .selected_day__weekday {
    font-size: 25px;
    line-height: 30px;
    color: var(#{--text-color-default});
    margin-bottom: 12px;
  }
  .selected_day__svg {
    svg {
      width: 53px;
      height: 53px;
    }
    margin-bottom: 12px;
  }
  .selected_day__date,
  .selected_day__city {
    font-size: 15px;
    color: $base-color;
    span {
      color: var(#{--text-color-default});
    }
  }
}